@Scripts.Render("~/bundles/AutoComplete")
<!--单选-->
<div id="provider"></div>
<style>
    .dropdown-content {
        max-height: 150px;
    }
</style>
<script>
    AutoComplete("provider", "@ViewData["Single"]");
</script>